@use "../services/services";

main {
  .ForgotPassword {
    form {
      article {
        margin: 2rem 0;
        label {
          p {
            margin-bottom: .6rem;
          }
          input {
            @include services.Input;
          }
        }
      }

      .info {
        p {
          margin: 1rem 0;
        }
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        button {
          @include services.BlackButton;
          border: none;
          padding: 1rem;
        }
        p {
          font-size: .8rem;
        }
      }
    }
  }
}