<div class="ui cards">
    <div class="card">
        <div class="content">
            <h3>Category list</h3>
            <div class="ui list">
                {% ifequal request.user files.first.author.user %}
                    <div class="item">
                        <a class="mini ui button primary" href="{% url 'documents:category_create' %}">Add category</a>
                    </div>
                {% endifequal %}
                {% for category in categories %}
                    <div class="item">
                        <input type="checkbox" name="category"
                               value="{{ category.title }}">&nbsp;{{ category.title }}&nbsp;<a
                            href="{% url 'documents:category_delete' category.pk %}"><i class="red x icon"></i></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>