{% extends 'base.html' %}

{% url 'file_upload' %}

{% block title %}
    File list
{% endblock title %}

{% block content %}
    <h2>File list</h2>
    <div class="ui grid">
        <div class="thirteen wide column">
            <div class="ui cards">
                <div class="ui card">
                    <div class="content">
                        <div class="center aligned">
                            <button class="massive ui button">
                                <a href="{% url 'documents:file_upload' %}">Add a new one</a>
                            </button>
                        </div>
                    </div>
                </div>

                {% for file in files %}

                    {% include 'documents/file_card.html' %}

                {% endfor %}
            </div>
        </div>
        <div class="three wide column">
            {% include 'documents/category_list.html' %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {

            $('input[name="category"]').click(function () {
                let selected = new Array();
                $("input:checkbox[name=category]:checked").each(function () {
                    let value = $(this).val()
                    selected.push(value);

                });
                $.each(selected, function (index, item) {
                    selected[index] = "." + selected[index]
                })

                selected += ""

                let fileCards = $('.category-card')
                $.each(fileCards, function (index, value) {

                    console.log($('input:checkbox[name=category]:checked').length)

                    if ($('input:checkbox[name=category]:checked').length > 0) {
                        console.log(selected)
                        if ($(value).is(selected)) {
                            $(value).show("normal");
                        } else {
                            $(value).hide("normal");
                        }
                    } else {
                        $(value).show("normal");
                    }

                })
            });
        })
    </script>
{% endblock %}
