{% extends 'base.html' %}

{% url 'file_upload' %}

{% block title %}
    File list
{% endblock title %}

{% block content %}
    <h2>File list</h2>
    <div class="ui grid">
        <div class="thirteen wide column">
            <div class="ui cards">
                <div class="ui card">
                    <div class="content">
                        <div class="center aligned">
                            <button class="massive ui button">
                                <a href="{% url 'documents:file_upload' %}">Add a new one</a>
                            </button>
                        </div>
                    </div>
                </div>

                {% for file in files %}

                    {% include 'documents/file_card.html' %}

                {% endfor %}
            </div>
        </div>
        <div class="three wide column">
            {% include 'documents/category_list.html' %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        let categoryForm = $('.category-form')
        $('.category-form-popup-button').click(function () {
            $(this).next(".category-form").toggle("normal");
        });
    </script>
{% endblock %}
