body {
    background: #f8f8f8 !important;
}

.nav {
    border-radius: 0 !important;
    padding: 10px 0 10px 0 !important;
    background-color: #396afc !important;
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.w-big {
    width: 225px !important;
}

.mymodal {
    height: 300px !important;
    top: 200px !important;
    font-size: 20px !important;
}

.bwhite-lg {
    background-color: transparent !important;
}

.bwhite-sn {
    background-color: transparent !important;
    width: 10px !important;
}

.comment-box {
    display: none;
}

.red-font {
    color: darkred !important;
}

.display-none {
    display: none !important;
}

.search-results-container {
    padding: 15px !important;
    top: 60px !important;
    color: black !important;
    position: absolute !important;
    width: 90% !important;
    background-color: #e5e5e5 !important;
    transition: 250ms !important;

    z-index: 1 !important;

    border-radius: 4px !important;
}

.display-flex {
    display: flex !important;
    justify-content: space-between;
}

.display-flex .flex-right {
    text-align: right;
}
