@use "../../services/services";


header {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.7rem;
    padding: 2rem 0;

    .logo {
      a {
        font-weight: bold;
        font-size: .9rem;
        color: white;
      }
    }

    nav {
      ul {
        display: flex;
        align-items: center;
        gap: .4rem;
        text-align: center;

        #Menu {
          background-color: rgba(black, .2);
          position: relative;

          div {
            transition: display services.$transition;
            display: none;
            position: absolute;
            top: 100%;
            margin-top: .8rem;
            right: 0;

            ul {
              padding: .5rem 2rem .5rem 1rem;
              width: max-content;

              &:hover {
                a {
                  color: services.$accent;
                }
              }

              a {
                width: 100%;
                transition: color services.$accent;
                text-align: left;
                color: black;
                font-size: .8rem;
                text-transform: initial;
              }
            }
          }
        }

      }
    }

    .controlPanel {
      #Search {
        position: relative;

        .SearchInput {
          display: flex;
          position: relative;
          border-radius: 5px;
          overflow: hidden;

          input {
            @include services.Input;
            padding: 4% 5%;
            border: unset;
            border-radius: unset;
          }

          button {
            $color: #d6d6d6;

            @include services.StandardButton;
            padding: 4% 5%;
            border: unset;
            background-color: $color;
            color: black;
            font-size: .8rem;
            border-radius: unset;

            &:hover {
              background-color: darken($color, 10%);
            }
          }
        }

        .SearchResult {
          transition: display services.$transition;
          display: none;
          position: absolute;
          top: 100%;
          margin-top: 1rem;
          width: 100%;
          padding: 1rem 0;
          article {
            display: flex;
            justify-content: center;
            padding: .5rem 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.10);
            border-top: 1px solid rgba(0, 0, 0, 0.10);
            .text {
              h3 {
                a {
                  color: services.$accent;
                  font-size: .9rem;
                }
              }
              p {
                margin-top: 1%;
                font-size: .8rem;
              }
            }
          }
        }
      }

      display: flex;
      align-items: center;
      gap: 1rem;
    }

    .buttons {
      text-transform: uppercase;
    }

    .StandardButton {
      @include services.StandardButton;
    }

    #CreateAccount {
      @include services.GreenButton;
    }
  }

  hr {
    border: none;
    background-color: rgba(white, .1);
    height: 2px;
  }
}