@use "../services/services";


.PostMake {
  form {
    padding: 5%;

    article {
      & > label:first-child {
        textarea {
          @include services.TextArea;
        }
      }

      & > label:last-child {
        p {
          margin: 5% 0 2%;
        }

        input {
          @include services.FileInput;
        }
      }
    }

    button {
      @include services.GreenButton;
      border: none;
      margin-top: 3%;
    }
  }
}