{% url 'posts:main_post_view' as path_to_posts %}
{% url 'home_view' as path_to_home %}
{% url 'profiles:my_profile_view' as path_to_my_profile %}
{% url 'profiles:my_invites_view' as path_to_my_invites %}
{% url 'profiles:friends_list_view' as path_to_friends %}
{% url 'profiles:all_profiles_view' as path_to_all_profiles %}
{#{% url 'documents:user_files' request.user.profile.slug as path_to_file_list %}#}
{% url 'documents:file_list' as path_to_file_list %}


<div class="ui inverted menu nav mb-7">
    <div class="ui container">
        <a href="{{ path_to_home }}" class="{% if request.path == path_to_home %}active{% endif %} item">
            <h3>EasyStudy</h3>
        </a>
        {% if request.user.is_authenticated %}
            <a href="{{ path_to_posts }}" class="{% if request.path == path_to_posts %}active{% endif %}  item">
                Board
            </a>
        {% endif %}
        {% if request.user.is_authenticated %}
            <a href="{{ path_to_file_list }}" class="{% if request.path == path_to_file_list %}active{% endif %}  item">
                My documents
            </a>
        {% endif %}

        <div class="right menu">
            {% if request.user.is_authenticated %}
                <div class="item">
                    <div class="ui floating dropdown icon button teal"> Menu
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="{{ path_to_all_profiles }}"
                               class="i{% if request.user == path_to_all_profiles %}active{% endif %} item">
                                All Profiles
                            </a>
                            <a href="{{ path_to_friends }}"
                               class="{% if request.user == path_to_friends %}active{% endif %} item">
                                Friends
                            </a>
                            <a href="{{ path_to_my_invites }}"
                               class="{% if request.path == path_to_my_invites %}active{% endif %} item">
                                Received Invites &nbsp;
                                <div class="ui purple horizontal label">{{ invites_number }}</div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <form id="search-form" autocomplete="off" action="{% url "profiles:search_list_results" %}">
                        <div class="ui action left icon input">
                            {% csrf_token %}
                            <input id="search-input" class="prompt" type="text" name='profile_search' placeholder="Name of a user">
                            <i class="search icon"></i>
                            <button type='submit' class="ui button">Search</button>
                        </div>
                    </form>
                    <div id="results-box" class="search-results-container display-none">
                        <div id="results-cards" class="ui cards">

                        </div>
                    </div>
                </div>
                <a href="{{ path_to_my_profile }}"
                   class="{% if request.path == path_to_my_profile %}active{% endif %} item">
                    <img src="{{ picture.url }}" class="ui avatar image" alt="user picture">&nbsp;
                    {{ request.user }}
                </a>

                <a href="{% url 'account_logout' %}" class="ui item">
                    Logout
                </a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="ui item">
                    Sign up
                </a>
                <a href="{% url 'account_login' %}" class="ui item">
                    Sing in
                </a>
            {% endif %}
        </div>
    </div>
</div>

{% block scripts %}
    <script>
        const url = document.location.origin

        let searchForm = $('#search-form');
        let searchInput = $('#search-input');
        let resultsBox = $('#results-box');
        let resultsBoxCards = $('#results-cards');
        let csrf = $('input[name="csrfmiddlewaretoken"]').val()

        const sendSearchData = (profileName) => {
            $.ajax({
                type: 'POST',
                url: `${url}/profiles/search/`,
                data: {
                    'csrfmiddlewaretoken': csrf,
                    'profile': profileName,
                },
                success: (res) => {
                    let data = res.data
                    if (Array.isArray(data)) {
                        resultsBox.html('');
                        data.forEach(data => {
                            resultsBox.append(`
                                <div class="card">
                                    <div class="content">
                                        <div class="header">
                                            <a href="${url}/profiles/${data.slug}">${data.first_name} ${data.last_name}</a>
                                        </div>
                                        <div class="meta">
                                            <a href="${url}/profiles/${data.slug}">${data.user}</a>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            `)
                        })
                    } else {
                        if (searchInput.val().length > 0) {
                            resultsBox.html(`<b>${data}</b>`)
                        } else {
                            resultsBox.addClass('display-none');
                        }
                    }
                },
                error: (err) => {
                    console.log(err)
                }
            })
        }

        searchInput.keyup(targetEvent => {
            if (resultsBox.hasClass('display-none')) {
                resultsBox.removeClass('display-none')
            }

            sendSearchData(targetEvent.target.value)
        })
    </script>
{% endblock %}
